*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    padding: 10px;
}

.hide{
    display: none;
}

a, input[type = "submit"] {
    background-color: rgb(84, 197, 59);
    color: white;
    text-decoration: none;
    padding: 8px 32px ;
    border-radius: 0px;
    margin-left: 2px;
    border: none;
    cursor: pointer;
}

a:hover, input[type = "submit"]:hover {
    opacity: 90%;
}

form {
    width: 300px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
}

form label{
    font-weight: bold;
    margin-bottom: 0.3em;
}

form input, form textarea{
    padding: 5px;
}

#comentarios-container{
color: rgb(101, 101, 101);
}